#dataCharts{
    padding: 0 5%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
  .weather-div{
    display: flex;
    padding: 0 10%;
  }
  .longText{
    text-align: justify;
  }